body{
    font-family: arial,sans-serif;
    font-style: normal;
    font-size: 13px;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}🖕🏻
a:hover {
    text-decoration: underline;
}

#header{
    padding: 15px;
    text-decoration: none;
}
#header-left{
    float: left;
}

#header-right{
    float: right;
}

#logo{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
}

#search {
    border-radius: 24px;
    width: 582px;
    height: 44px;
    border: 1px solid #afb0b3;
}

#search:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color:rgba(223,225,229,0);
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    padding-bottom:80px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
}

.button {
    border: 1px solid #f2f2f2;
    color: #222;
    background-color: #f8f8f8;  
    line-height: 27px;
    height: 36px;
    min-width: 54px;  
    margin: 4px;
    font-family: arial,sans-serif;
    font-size: 14px;    
}

#footer {
    width:100%;
    background: #f2f2f2;
    position:absolute;
    bottom:0;
    line-height: 40px;
    font-size: 15px;
}

#footer_1 {
    border-bottom: 1px solid #e4e4e4;   
    margin-left: 27px;  
}

#footer_2_left {
    float: left;
    margin-left: 27px;    

}

#footer_2_right {
    float: right;
    margin-right: 27px;
} 
#footer_2 a {
    padding-right: 10px;
}
/* .footer {
    background: #f2f2f2;
    border-bottom: 1px solid #e4e4e4;

} */
/* .footer {
    bottom: 0;
} */

/* #footer, #footer_2, #footer_1, #footer_2_left, #footer_2_right {
   background-color: #f2f2f2;

    padding: 15px;
    font-size: 16px;
}

#footer_1 {
    border-bottom: 1px solid #e4e4e4;   
}

#footer_2 {
    width: 100%;
}


*/